body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.quiz-container {
    background: white;
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    background: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background: #2980b9;
}